/* Stop assignment descriptions from scrolling */
.assignment .description {
  height: auto !important;
}

/* Provide "Do the Thing" instruction blocks */
.challenge-instructions {
  border: 2px solid #19abb5;
  border-radius: 0 0 5px 5px;
  padding: 0 1em;

}

.challenge-instructions ol {
  padding-top: 0.5em;
}

.challenge-heading {
  border-radius: 5px 5px 0 0;
  background-color: #19abb5;
  color: white;
  line-height: 1.5em;
  padding: 0em 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

/* Provide non-red bold inline codeblock spans */
span.inline-code-tt {
  font-weight:600;
  font-family: monospace;
  font-size:1.2em
}
