:root {
        --ic-brand-primary-darkened-5: #18A3AC;
--ic-brand-primary-darkened-10: #179AA3;
--ic-brand-primary-darkened-15: #16929A;
--ic-brand-primary-lightened-5: #24AFB8;
--ic-brand-primary-lightened-10: #30B3BC;
--ic-brand-primary-lightened-15: #3BB7C0;
--ic-brand-button--primary-bgd-darkened-5: #18A3AC;
--ic-brand-button--primary-bgd-darkened-15: #16929A;
--ic-brand-button--secondary-bgd-darkened-5: #7C858A;
--ic-brand-button--secondary-bgd-darkened-15: #6F777C;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #DA5B34;
--ic-link-color-lightened-10: #F3744C;
--ic-brand-primary: #19abb5;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #f26539;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #828c91;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #5a5a5a;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #5a5a5a;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_65440000000000001/attachments/3483/DBC_ICON_2C_RGB.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1913459774&Signature=mNVXjiYl8s48eJ39%2BZhQwrdJMiI%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: #5a5a5a;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_65440000000000001/attachments/3483/DBC_ICON_2C_RGB.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1913459978&Signature=YYJqa95GvBg7oMQMGIV3EZAOyk8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_65440000000000001/attachments/3484/DBC_H_2C_RGB.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1913459866&Signature=wy8nAZzttiI%2FVzm%2BLhTRJgsQHWI%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-a66b946d8d.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }